.float-contact {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 99999;
    display: flex;
    flex-direction: column; /* Sắp xếp các phần tử theo cột */
  }
  
  .chat-zalo, .chat-face, .hotline {
    background-color: #8eb22b;
    border-radius: 20px;
    padding: 10px 18px;
    color: white;
    display: block;
    margin-bottom: 6px;
    text-align: center; /* Căn giữa nội dung */
    cursor: pointer; /* Thêm con trỏ khi hover */
  }
  
  .chat-face {
    background-color: #125c9e; /* Màu nền cho nút Facebook */
  }
  
  .hotline {
    background-color: #d11a59 !important; /* Màu nền cho nút hotline */
  }
  
  .chat-zalo a, .chat-face a, .hotline a {
    font-size: 15px;
    color: white;
    font-weight: 400;
    text-transform: none;
    text-decoration: none; /* Bỏ gạch chân */
    line-height: 1.5;
    display: inline-block; /* Đảm bảo liên kết là khối để căn chỉnh */
  }
  
  @media (max-width: 549px) {
    .float-contact {
      display: none; /* Ẩn khi kích thước màn hình nhỏ hơn 549px */
    }
  }
  